@charset "UTF-8";
/* Global */
:root{
    /* Color */
    --color-white: #ffffff;
    --color-light-white: #eeeeee;
    --color-dark-white: #dfe4ea;
    --color-pink: #a29bfe;
    --color-dark-pink: #6c5ce7;
    --color-dark-grey: #4d4d4d;
    --color-grey: #616161;
    --color-light-grey: #7c7979;
    --color-blue: #73aace;
    --color-yellow: #fff7d1;
    --color-orange: #feb546;
    --color-black: #000000;
    --color-white-footer: #f1f2f6;

    --color-white-mode: #000000;
    --color-light-white-mode: #4d4d4d;
    --color-dark-white-mode: #b1b0b0;
    --color-pink-mode: #616161;
    --color-dark-pink-mode:  #000000;
    --color-dark-grey-mode: #666666;
    --color-grey-mode: #9e9e9e;
    --color-light-grey-mode: #7c7979;
    --color-blue-mode: #1b4e70;
    --color-yellow-mode: #4e4204;
    --color-orange-mode: #472b00;
    --color-black-mode: #ffffff;

    /* Font size */
    --font-large: 20px;
    --font-medium: 15px;
    --font-regular: 13px;
    --font-small: 10px;
    --font-micro: 8px;

    /* Font weight */
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-regular: 400;

    /* Size */
    --size-border-radius: 4px;
    
    /* Animation */
    --animation-duration: 300ms;
}

/* Universal tags */
*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    cursor: default;
    min-width: 350px;
    background-color: var(--color-white);
}

a{
    text-decoration: none;
    color: var(--color-black);
}

ul{
    list-style: none;
    padding-left: 0;
}
p{
    color: var(--color-black);
}

button{
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
}

/* Typography */
h1{
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    color: var(--color-black);
    margin: 16px 0;
    padding: 0 0;
    margin: 0 0;
}

h2{
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
    color: var(--color-black);
    margin: 0px 0;
}

h3{
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 0px 0;
}

p{
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 2px 0;
}

.thumnail__products{
	height: 140px;
	width: 140px;
}

/* start  */
#navbar{
	display: flex;
	position: fixed;
	width: 100%;
	height: 80px;
	margin: 0 auto;
	background-color: var(--color-pink);
	z-index: 10;
}
#navbar__wrapper{
	position: static;
	margin: 0 auto;
	height: 100%;
	width: 95%;
	background-color: var(--color-pink);
}

.navbar__log{
	position:static;
	display: inline-flex;
	margin: 1.5% 0 0 50px;
	font-size: 30px;
}
.navbar__log a{
    color: var(--color-light-white);
}

#navbar__log-bar{
	position:static;
	display: inline;
	font-size: 30px;
	left: 10px;
	cursor: pointer;
}

.navbar__search{
	position:relative;
	display: inline-flex;
	margin-left: 50px;
	margin-bottom: 10px;
}

#navbar__search__iput{
	border: 1px solid var(--color-dark-grey);
	width: 250px;
	height: 30px;
}

#navbar__search__button{
	border: 1px solid #6c5ce7;
	height: 30px;
	width: 50px;
	color: var(--color-light-white);
	background-color: var(--color-dark-pink);
}
/* left side bar */
.navbar__wrapper-letf{
	position: absolute;
	left: 1px;
	top: 100%;
    height: 1000%;
    color: var(--color-black);
}
.navbar__menu-left{
	top: 70px;
    width: 150px;
    height: 100%;
    background-color: #fff;
    line-height: 40px;
	border: 1px solid var(--color-dark-pink);
	display: none;
}

.list{
	text-indent: 20px;
	display: list-item;
}
.list a{
	color: var(--color-black);
}


/* rigth side bar */
.navbar__toggle-btn-right{
	position:fixed;
	border: 1px solid var(--color-dark-white);
	top: 51%;
	padding: 5px 10px;
	right: 242px;
	font-size: 24px;
	color: #95afc0;
	background-color: var(--color-white);
}
.navbar__toggle-btn-left{
	position:fixed;
	border: 1px solid var(--color-dark-white);
	top: 51%;
	padding: 5px 10px;
	right: 0px;
	font-size: 24px;
	color: #95afc0;
	background-color: var(--color-white);
}
.navbar__menu-right{
	border: 1px solid var(--color-dark-white);
	position: fixed;
	width: 242px;
	height: 100%;
	padding: 0;
	margin: 0;
	font-size: 0px;
	top:0px;
	right: 0px;
	z-index: 289;
}
.navbar__menu__item, .navbar__menu__item-member, .navbar__menu__item-login, .navbar__menu__item-history{
	font-size: 15px;
	background-color: var(--color-white);
}

.navbar__menu__item{
	border: 1px solid var(--color-dark-white);
	margin: 0 auto;
	flex-wrap: wrap;
	height: 10%;
	width: 240px;
	text-align: center;
	z-index: 10;
}

.navbar__menu__item.active, .navbar__menu__item:hover, .navbar__menu__item-member:hover, .navbar__menu__item-login:hover, .navbar__menu__item-history:hover{
	border: 2px solid var(--color-dark-pink);
	border-radius: var(--size-border-radius);
	color: var(--color-white);
	background-color: var(--color-pink);
}

.navbar__menu__item-member{
	border: 1px solid var(--color-dark-white);
	margin: 0 auto;
	flex-wrap: wrap;
	height: 10%;
	width: 240px;
	text-align: center;
	z-index: 10;
}
.navbar__menu__item-login{
	border: 1px solid var(--color-dark-white);
	background-color: var(--color-white);
	margin: 0 auto;
	flex-wrap: wrap;
	height: 10%;
	width: 120px;
	text-align: center;
	z-index: 10;
}
.navbar__menu__item-history{
	border: 1px solid var(--color-dark-white);
	margin: 0 auto;
	flex-wrap: wrap;
	height: 30%;
	width: 240px;
	text-align: center;
	z-index: 2;
}

/* section */
.section__productsList{
	padding: 5px 0px 5px 10px;
	height: 15%;
	width: 95%;
	float: left;
}
.section__typoWrapper{
	margin: 0 auto;
	width: 1000px;
}
.section__productsList:nth-child(1){
	padding: 20px 0px 5px 10px;
	margin-top: 100px;
	height: 15%;
	width: 95%;
	float: left;
}
.section__productsList:nth-child(4){
	padding: 20px 0px 20px 10px;
	height: 15%;
	width: 95%;
	float: left;
}
.section__title{
	display: inline-block;
	text-indent: 10px;
	width: 95%;
}
.section__title-icon{
	display: inline-block;
	text-align: right;
	cursor: pointer;
}
.thumnail__products{
	display: block;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 10px;
}
.thumnail__products-type{
	float: left;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 10px;
}

.new__product, .sale__product, .event__product, .recommend__product{
	display: inline-block;
	padding: 10px 20px;
	width: 180px;
	height: 300px;
	margin-bottom: 20px;
}

.type__product{
	display: inline-block;
	padding: 10px 20px;
	width: 100%;
	height: 100%;
	margin-bottom: 20px;
}

.new__product:hover, .sale__product:hover, .event__product:hover, .recommend__product:hover, .type__product:hover{
	background-color: #f1f2f6;
}

.type__detail{
	float: left;
	padding-left: 10px;
	line-height: 30px; 
}
.seller__list{
	float: right;
	line-height: 25px; 
}

.section__wrapper{
	margin-left: 50px;
}

.product__wrapper{
	border: 1px solid var(--color-dark-white);
	width: 1000px;
	height: 310px;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 5px 10px 5px 10px;
}

/* footer */
.footer{
	clear: both;
	background-color: var(--color-white-footer);
	height: 250px;
	width: 100%;
	z-index: -50;
}

.footer__wrapper{
	padding-top: 30px;
	margin: 0 auto;
	width: 50%
}
.footer__site{
	text-align: center;
}
.footer__site a::before{
	padding-left: 5px; content: "| "
}
.footer__site a:first-child::before{
	content: ""
}
.footer__company{
	margin-top: 30px;
	text-align: center;
}
.footer__language{
	font-size: var(--font-large);
	margin-top: 40px;
	float: right;
}
.footer__language select{
	font-size: var(--font-medium);
	border-radius: var(--size-border-radius);
	width: 100px;
	height: 30px;
}
.footer__copyright{
	margin-top: 40px;
	font-size: 	var(--font-small);
}