<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="web.spring.mapper.FileMapper">
	<select id="getFile" resultType="web.spring.vo.FileVO">
		select file_pictureId,file_uuid,file_uploadPath,file_name,file_type,file_regdate
        	, file_uploadPath||file_uuid|| '_' ||file_name as file_savepath
        	, file_uploadPath||'s_'||file_uuid|| '_' ||file_name as file_s_savepath
		from common_file
		where file_pictureId=#{file_pictureId} and file_uuid=#{file_uuid}
	</select>
	
	<select id="getListFile" resultType="web.spring.vo.FileVO">
		select file_pictureId,file_uuid,file_uploadPath,file_name,file_type,file_regdate
        	, file_uploadPath||file_uuid|| '_' ||file_name as file_savepath
        	, file_uploadPath||'s_'||file_uuid|| '_' ||file_name as file_s_savepath
		from common_file
		<where>
			file_pictureId=#{file_pictureId}
		</where>
	</select>
	
		<select id="getListFileAdmin" parameterType="hashmap" resultType="web.spring.vo.FileVO">
		select file_pictureId,file_uuid,file_uploadPath,file_name,file_type,file_regdate
        	, file_uploadPath||file_uuid|| '_' ||file_name as file_savepath
        	, file_uploadPath||'s_'||file_uuid|| '_' ||file_name as file_s_savepath
		from common_file
		<where>
			<foreach collection="product_Map" item="item" separator="or">
				file_pictureId = #{item}
			</foreach>
		</where>
	</select>
	
	<select id="getTypeListFile" resultType="web.spring.vo.FileVO">
		select file_pictureId,file_uuid,file_uploadPath,file_name,file_type,file_regdate
        	, file_uploadPath||file_uuid|| '_' ||file_name as file_savepath
        	, file_uploadPath||'s_'||file_uuid|| '_' ||file_name as file_s_savepath
		from common_file
		where file_pictureid in (select file_pictureid from products_info where product_category in (select product_category from product_board where product_category=#{product_category}))
	</select>
	
	<select id="getCondListFile" resultType="web.spring.vo.FileVO">
		select file_pictureId,file_uuid,file_uploadPath,file_name,file_type,file_regdate
        	, file_uploadPath||file_uuid|| '_' ||file_name as file_savepath
        	, file_uploadPath||'s_'||file_uuid|| '_' ||file_name as file_s_savepath
		from common_file
		where file_pictureid in (select file_pictureid from products_info where product_id in (select product_id from product_board where pboard_unit_condition=#{pboard_unit_condition}))
	</select>
	<select id="getSearchListFile" parameterType="hashmap" resultType="web.spring.vo.FileVO">
		select file_pictureId,file_uuid,file_uploadPath,file_name,file_type,file_regdate
        	, file_uploadPath||file_uuid|| '_' ||file_name as file_savepath
        	, file_uploadPath||'s_'||file_uuid|| '_' ||file_name as file_s_savepath
		from common_file
		where file_pictureid in (select file_pictureid from products_info 
		where product_id in (
			select product_id from products_info 
			where 
			<foreach collection="search_Map" item="item" separator="or" index="0">
				Lower(product_manufacturer) like '%'||#{item}||'%'
			</foreach>
		) or product_id in (
			select product_id from products_info 
			where 
			<foreach collection="search_Map" item="item" separator="or" index="0">
				Lower(product_category) like '%'||#{item}||'%'
			</foreach>
		) or product_id in (
			select product_id from products_info 
			where 
			<foreach collection="search_Map" item="item" separator="or" index="0">
				Lower(product_name) like '%'||#{item}||'%'
			</foreach>
		))
	</select>
	
	<select id="getMainListFile" resultType="web.spring.vo.FileVO">
		select file_pictureId,file_uuid,file_uploadPath,file_name,file_type,file_regdate
        	, file_uploadPath||file_uuid|| '_' ||file_name as file_savepath
        	, file_uploadPath||'s_'||file_uuid|| '_' ||file_name as file_s_savepath
		from common_file
		where file_pictureid in (select file_pictureid from products_info 
			where product_id in (
				select pboard.product_id from (
					select board.*, row_number() over(partition by pboard_unit_condition, product_id order by pboard_unit_updatedate desc, pboard_unit_regdate asc) each_rank 
						from product_board board) 
					pboard where each_rank='1'))
	</select>
	<select id="getPDetailThum" resultType="web.spring.vo.FileVO">
		select file_pictureId,file_uuid,file_uploadPath,file_name,file_type,file_regdate
		    , file_uploadPath||file_uuid|| '_' ||file_name as file_savepath
		    , file_uploadPath||'s_'||file_uuid|| '_' ||file_name as file_s_savepath
		from common_file
		where file_pictureid in (select file_pictureid from products_info where product_id in (select product_id from product_board where pboard_unit_no=#{pboard_unit_no}))
	</select>
	<select id="getPDetailDesc" resultType="web.spring.vo.FileVO">
		select file_pictureId,file_uuid,file_uploadPath,file_name,file_type,file_regdate
		    , file_uploadPath||file_uuid|| '_' ||file_name as file_savepath
		    , file_uploadPath||'s_'||file_uuid|| '_' ||file_name as file_s_savepath
		from common_file
		where file_pictureid in (select file_pictureid from product_board where pboard_unit_no=#{pboard_unit_no})
	</select>
	
	
	
	<select id="getFileALL" resultType="web.spring.vo.FileVO">
		select file_pictureId,file_uuid,file_uploadPath,file_name,file_type,file_regdate
        	, file_uploadPath||file_uuid|| '_' ||file_name as file_savepath
        	, file_uploadPath||'s_'||file_uuid|| '_' ||file_name as file_s_savepath
		from common_file
		<where>
			file_pictureId=#{file_pictureId}
		</where>
	</select>
	
	<delete id="fileDelete">
		delete from common_file where file_uuid=#{file_uuid} and file_pictureId=#{file_pictureId}
	</delete>
	
	<select id="getFileSeq" resultType="String">
		select file_sequence.nextval from dual
	</select>
	
	<insert id="fileInsert">
		insert into common_file(file_pictureId, file_name, file_uuid, file_uploadPath, file_type, file_usingType) 
    	values (#{file_pictureId}, #{file_name}, #{file_uuid}, #{file_uploadPath}, #{file_type}, #{file_usingType})
	</insert>
</mapper>