<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="web.spring.mapper.InquiryBoardMapper">


	<!-- 문의사항 리스트 불러오기 -->
	<select id="getInquiryBoardList"
		resultType="web.spring.vo.InquiryBoardVO">
		select * from (
		select i.*, rownum rn from

		(select iboard_no, iboard_title, iboard_category,
		iboard_public, iboard_regdate_new, user_id,
		(case
		when to_char(sysdate,'yyyyMMdd') =
		to_char(iboard_regdate,'yyyyMMdd')
		then
		to_char(iboard_regdate,'hh:mm:ss')
		else
		to_char(iboard_regdate,'yyyy-MM-dd')
		end) iboard_regdate
		, (select count(*) from inquiry_reply reply where reply.iboard_no =
		board.iboard_no) replycount

		from inquiry_board board
		order by iboard_no desc
		) i

		) where rn between #{pageNo}*#{amount}-9 and #{pageNo} * #{amount}

		<!-- select iboard_no, iboard_title, iboard_category, iboard_public, iboard_regdate_new, 
			user_id, (case when to_char(sysdate,'yyyyMMdd') = to_char(iboard_regdate,'yyyyMMdd') 
			then to_char(iboard_regdate,'hh:mm:ss') else to_char(iboard_regdate,'yyyy-MM-dd') 
			end) iboard_regdate from (select ROW_NUMBER() OVER (ORDER BY iboard_no desc) 
			row_num, board.* from inquiry_board board) where row_num between 1 and 20; -->

		<!-- (select count(*) from inquiry_reply reply where reply.iboard_no = 
			board.iboard_no) replycount -->
	</select>

	<!-- 문의사항 리스트 불러오기 끝 -->

	<!-- 문의사항 등록 -->
	<insert id="insertInquiry">

		<selectKey keyProperty="iboard_no" resultType="int"
			order="BEFORE">
			select IBOARD_SEQUENCE.nextval from dual
		</selectKey>
		insert into INQUIRY_BOARD (iboard_no, iboard_title, iboard_content,
		iboard_category, iboard_public, user_id, iboard_regdate_new)
		values
		(#{iboard_no}, #{iboard_title},
		#{iboard_content},
		#{iboard_category},
		#{iboard_public}, #{user_id}, sysdate + 7)
	</insert>
	<!-- 문의사항 등록 끝 -->

	<!-- 문의사항 상세보기 -->
	<select id="detailInquiry"
		resultType="web.spring.vo.InquiryBoardVO">
		select * from INQUIRY_BOARD where iboard_no=#{iboard_no}
	</select>
	<!-- 문의사항 상세보기 끝 -->

	<!-- 문의사항 삭제 -->
	<delete id="deleteInquiry" parameterType="int">
		delete from
		INQUIRY_BOARD where iboard_no=#{iboard_no}
	</delete>
	<!-- 문의사항 삭제 끝 -->

	<select id="getTotal" resultType="int">
		select count(*) from INQUIRY_BOARD
	</select>




</mapper>