<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="web.spring.mapper.PaymentMapper">

	<select id="get" resultType="web.spring.vo.UserVO">
		select User_name, User_address from user_info where User_id = #{User_id}
	</select>
	
	<update id="updateStocks">
		update product_board set pboard_unit_stocks = #{pboard_unit_stocks} where product_id = #{product_id}
	</update>
	
	<insert id="insertOrder">
		<selectKey resultType="String" order="BEFORE" keyProperty="order_id"> select order_sequence.nextval from dual </selectKey>
		insert into order_board (order_id, order_address, order_name, order_status, product_id, user_id, order_totalprice, order_totalcount)
		values (#{order_id}, #{order_address}, #{order_name}, '1', #{product_id}, #{user_id}, #{order_totalprice}, #{order_totalcount})
	</insert>

	<select id="getOrderList" resultType="web.spring.vo.OrderVO">
		select order_board.* from (select rownum num, order_board.* from order_board where user_id = #{user_id}) order_board where num between #{pageNo} * #{amount}-9 and #{pageNo} * #{amount}
	</select>
	
	<select id="getOrderListTotal" resultType="int">
		select count(*) from order_board where user_id = #{user_id}
	</select>
	
	<select id="getOrderAllList" resultType="web.spring.vo.OrderVO">
		select order_board.* from (select rownum num, order_board.* from order_board) order_board where num between #{pageNo} * #{amount}-9 and #{pageNo} * #{amount}
	</select>
	
	<select id="getOrderAllListTotal" resultType="int">
		select count(*) from order_board
	</select>
	
	<select id="getOrderStatus" resultType="web.spring.vo.OrderVO">
		select order_status from order_board where order_id = #{order_id}
	</select>
	
	<insert id="insertCart">
		<selectKey resultType="String" order="BEFORE" keyProperty="cart_id"> select cart_sequence.nextval from dual </selectKey>
		insert into cart_board (cart_id, user_address, user_name, user_id, product_id, product_name, cart_totalprice, pboard_unit_no, cart_totalcount, pboard_unit_stocks)
		values (#{cart_id}, #{user_address}, #{user_name}, #{user_id}, #{product_id}, #{product_name}, #{cart_totalprice}, #{pboard_unit_no}, #{cart_totalcount}, #{pboard_unit_stocks})
	</insert>
	
	<select id="getCartList" resultType="web.spring.vo.CartVO">
		select cart_board.* from (select rownum num, cart_board.* from cart_board where user_id = #{user_id}) cart_board where num between #{pageNo} * #{amount}-9 and #{pageNo} * #{amount}
	</select>
	
	<select id="getCartListTotal" resultType="int">
		select count(*) from cart_board where user_id = #{user_id}
	</select>
	
	<delete id="deleteCart">
		delete from cart_board where cart_id = #{cart_id}
	</delete>
	
	<update id="updateOrderList">
		update order_board set order_status=#{order_status} where order_id=#{order_id}
	</update>
	
	<select id="getProduct" resultType="web.spring.vo.PBoardVO">
		select pboard_unit_stocks from product_board where pboard_unit_no=#{pboard_unit_no}
	</select>
</mapper>